@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
    @apply transition transform duration-300 ease-in-out text-white py-1 px-4 rounded-md shadow-sm w-full bg-blue-700 hover:bg-blue-800 hover:shadow-xl;
}
.button-error {
    @apply transition transform duration-300 ease-in-out text-white py-1 px-4 rounded-md shadow-sm w-full bg-red-600 hover:bg-red-700 hover:shadow-xl;
}

.input {
    @apply relative;

    .is-invalid {
        @apply border-2;
    }

    &__label {
        @apply left-3 top-3 lg:top-2 px-2 absolute bg-white whitespace-nowrap text-gray-400;
        transform: translate(0, 0);
        transform-origin: 0 0;
        transition: transform 120ms ease-in;
    }

    &__error {
        @apply whitespace-nowrap block w-full pr-2 text-right font-light text-gray-800;
    }

    &__field {
        @apply block py-2 px-6 w-full box-border border rounded-lg border-gray-200 shadow-md text-gray-900;

        &:focus,
        &:not(:placeholder-shown) {
            & + .input__label {
                transform: translate(-0.15rem, -100%) scale(0.9);
                @apply font-semibold text-gray-400;
            }

            &:disabled + .input__label {
                @apply text-gray-600;
            }
        }
    }
}

@import '../../node_modules/vue-select/src/scss/vue-select.scss';
.v-select {
    &.is-invalid {
        > .vs__dropdown-toggle {
            @apply border-2 border-red-500;
        }
    }
}

.vs {
    &__dropdown-toggle {
        @apply py-2 px-4 w-full box-border border rounded-lg bg-white border-gray-200 shadow-md text-gray-900;
    }

    &__dropdown-menu {
        @apply border-gray-200 shadow-md p-0;
        top: calc(100% - 1px);
    }

    &__dropdown-option {
        @apply border-t border-gray-200;
    }

    &__selected-options {
        @apply p-0;
    }

    &__selected {
        @apply p-0;
    }

    &__error {
        @apply whitespace-nowrap block w-full pr-2 text-right font-light text-gray-800;
    }
}

.sourceHtml {
    ul {
        @apply list-disc list-outside ml-4;

        ul {
            @apply ml-8 mb-2;
        }
    }

    div {
        @apply my-2;
    }
}
